.cabecera{
    background-color: aquamarine;
}
.elementos {
    border: 1px;
        display: inline-block;
        width: auto;
        margin: auto;
        text-align: left;
        padding: 5px;
}
.ejemplos{
    color: red;
    padding: 80px;
}